@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

header {
  background-color: rgb(77, 230, 77);
  padding: 20px;
}

header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  background-color: white;
  color: black;
}

.navbar h1 {
  color: white;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}

.navbar .nav-list {
  display: flex;
  gap: 20px;
}
.navbar .nav-list li a {
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s ease;
}

.navbar .nav-list li a:hover {
  text-decoration: underline;
  text-shadow: 10px;
  font-size: 15px;
  color: rgb(2, 2, 1);
  transform: scale(1.1);
}
.navbar button {
  display: none;
}

.hero {
  min-height: 70vh;
}

.hero .section-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 20px;

}

.hero .section-content .hero-content {
  margin-top: 80px;
  justify-content: center;
}
.hero .section-content .title {
  padding: 15px;
  font-size: 50px;
  font-weight: 700;
  margin-left: 50px;
}

.hero .section-content .subtitle {
  padding: 15px;
  max-width: 50%;
  margin-left: 50px;
  color: gray;
}

.hero .section-content .description {
  padding: 15px;
  max-width: 70%;
  margin-left: 50px;
  color: rgb(65, 65, 194);
}

.hero .section-content .btn-ApplyNow {
  display: inline-block;
  padding: 10px 20px;
  background-color:  rgb(69, 221, 69);
  border: 2px solid transparent;
  color: white;
  font-weight: 500;
  border-radius: 20px;
  margin-left: 50px;
  margin-top: 20px;
  transition: all 0.3s ease;
}

.hero .section-content .btn-MoreUs {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(69, 221, 69);
  color: white;
  border: 2px solid transparent;
  font-weight: 500;
  border-radius: 20px;
  margin-left: 30px;
  margin-top: 20px;
  transition: all 0.3s ease;
}

.hero .section-content .btn-ApplyNow:hover,
.hero .section-content .btn-MoreUs:hover {
  background-color: rgb(20, 158, 50);
  transform: scale(1.1);
}

.hero .section-content .img-content {
  margin-right: 20px;
  cursor: pointer;
}

/* About Us Section */

.aboutUs {
  padding: 120px 0;
  background-color: aliceblue;
}

.aboutUs .aboutImg {
  display: flex;
  cursor: pointer;
}


.aboutUs .masterAbout{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aboutUs .masterAbout .aboutImg{
  margin-top: 50px;
  margin-left: 15px;

}
.aboutImg img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
;
}

.aboutHead h2{
  font-size: 50px;
  text-align: center;
  margin-bottom: 50px;
  font-family:sans-serif;
}
.aboutHead p{
  font-size: 20px;
  margin-left:100px;
  margin-bottom: 20px;
  margin-right: 15px;
}

                        /*Services*/

.Service h2{
  gap: 70px;
  font-size: 50px;
  text-align: center;
   font-family:sans-serif;
}

.Services .Life img{
  width:200px;
  height: 200px;
  object-fit: cover;
  margin-left: 20px;
}
.Life{
  margin-left:50px;
  border: solid transparent;
  width: 250px;
}
.Services {
  height: 200px;
  width: 200px;
  border: 2px solid transparent;
  margin-top: 20px;
}

.Services p{
  font-size: 18px;
  align-items: center;
  text-align: center;
  color: gray;
}
.Service .title{
  margin: 40px;
}

.content .listIns{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.listIns div{
  height: 320px;
  width: 200px;
  border-radius: 15px;
  margin: 120px;
  margin-top: 10px;
  border-style: solid transparent;
  background-color: rgb(248, 250, 250);
  text-align: center;
  cursor: pointer;
  transition: 0.2s ease;
}




.listIns div img{
  margin: 20px;
  object-fit: cover;
  border-radius: 50%;
}
.listIns p{
  color: gray;
  padding: 10px;
}

.listIns div:hover{
  margin-top: 50px;
  transform: scale(1.1);
}


/*Contact Us */

.contact{
 
  background-color: rgb(243, 243, 238);
  min-height: 60vh;
  
}
.contact .title{
  gap: 70px;
  font-size: 40px;
  text-align: center;
  font-family:sans-serif;
  padding: 20px;
}
.contact .contactList .contactInfo{
  margin-left: 10px;
}

.contact .contacts{
  display: flex;
  gap: 48px;
  margin-left: 5px;
  align-items: flex-start;
  justify-content: space-between;
}

.contact .contacts .contactList .contactInfo{
  display: flex;
  gap: 20px;
  margin: 20px 0;
  align-items: center;
}

.contact .contactMe{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 12px;
  width: 100%;
  max-width: 500px;
  margin-right: 100px;
}

.contact .contactMe .input {
  height: 45px;
  padding: 12px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px; 
}
.contact .contactMe .input::placeholder {
  font-size: 12px;
  color: #999;
}
.contact .contactMe .input-box{
  height: 100px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 12px;
  resize: vertical;
}
.contact .contactMe .input-box::placeholder {
  font-size: 12px;
  color: #999;
  margin-top: 50px;
}
.contact .contactMe .buttonSubmit {
  padding: 10px 30px;
  justify-content: center;
  background-color: rgb(39, 218, 84);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  width:100px;
  margin-left: auto;
  transition: all 0.3s ease ;
  
}

.contact .contactMe .buttonSubmit:hover {
  background-color: rgb(20, 158, 50);
  transform: scale(1.1);
}

/* Footer */
.footer {
  background-color: rgb(29, 31, 29);
  color: white;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  font-weight: 500;
}

.social-link {
  display: flex;
  gap: 20px;
}

.social-link-list {
  color: white;
  font-size: 24px;
  transition: 0.3s ease;
}

.social-link-list:hover {
  transform: scale(1.2);
  color: rgb(25, 211, 34);
}
 